force-app/main/default/flows/Event_Link_to_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Found Lead</label>
        </rules>
        <rules>
            <name>No_Lead_Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Lead</targetReference>
            </connector>
            <label>No Lead, Has Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AssignedTo</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Lead.Owner:User.FirstName}), {!$Record.OwnerId}, {!Get_Lead.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>email</name>
        <dataType>String</dataType>
        <expression>TRIM(
  MID(
    &quot; &quot; &amp; {!$Record.Description} &amp; &quot; &quot;,

    FIND(
      &quot; &quot;,
      &quot; &quot; &amp; {!$Record.Description} &amp; &quot; &quot;,
      FIND(&quot;@&quot;, &quot; &quot; &amp; {!$Record.Description} &amp; &quot; &quot;) - 255
    ),

    FIND(
      &quot; &quot;,
      &quot; &quot; &amp; {!$Record.Description} &amp; &quot; &quot;,
      FIND(&quot;@&quot;, &quot; &quot; &amp; {!$Record.Description} &amp; &quot; &quot;)
    ) -
    FIND(
      &quot; &quot;,
      &quot; &quot; &amp; {!$Record.Description} &amp; &quot; &quot;,
      FIND(&quot;@&quot;, &quot; &quot; &amp; {!$Record.Description} &amp; &quot; &quot;) - 255
    )
  )
)</expression>
    </formulas>
    <interviewLabel>Event - Link to Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Link to Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source_Details__c</field>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Lead</name>
        <label>Copy 1 of Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Create_Lead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssignedTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location</field>
            <operator>Contains</operator>
            <value>
                <stringValue>@</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
