force-app/main/default/flows/Matter_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddLeadToList</name>
        <label>AddLeadToList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updatedLeads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadsLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Matter lookup field and Date FA was signed to the lead</description>
        <name>Assign_Matter_lookup_field</name>
        <label>Assign matter fields to lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadsLoop.Matter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadsLoop.Lead_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_FA_was_signed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddLeadToList</targetReference>
        </connector>
    </assignments>
    <description>Populates the matter lookup field and the Date FA was signed on the related lead record</description>
    <environments>Default</environments>
    <interviewLabel>Matter - After - Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Matter - After - Create/Update</label>
    <loops>
        <name>LeadsLoop</name>
        <label>Leads loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_related_leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Matter_lookup_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_related_leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_leads</name>
        <label>Get related leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clio_Matter_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Clio_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_related_leads</name>
        <label>Update related leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>updatedLeads</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_leads</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR (4 AND (5 OR 6))) AND 3</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_FA_was_signed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Clio_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_FA_was_signed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Matter__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>updatedLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
